/*ANIMACIONES*/

/*Animaciones*/

.box1{
	border: solid;
	border-color: darkred;
}

.linear-gradient{
	background: linear-gradient(to top, yellow, purple);
}

.transform:hover{
	transform: translate(10px 20px);
	cursor: pointer;
}

.rotate:hover{
	transform: rotateY(180deg);
	cursor: pointer;
	transition: 2s;
}