
/*TIPOGRAFIAS*/

/*Clases Textos*/

.textPurple{
	color: purple;
}

.textBlack{
	color: black;
}

.textWhite{
	color: white;
}




/*Clases Fonts*/
.negrita{
	font-weight: bold;
}

.textoSlogan{
	font-size: 40px ;
}


.textoGrande{
	font-size: 30px ;
}


/*Clases Fondos*/

.backYellow{
	background: yellow;
}

.backPurple{
	background: purple;
}

.backBlack{
	background: black;
}